Source: xball
Section: games
Priority: optional
Maintainer: Stephen Birch <sgbirch@imsmail.org>
Build-Depends: debhelper (>= 5), lesstif2-dev, xutils, libxmu-dev, libxt-dev
Standards-Version: 3.7.3

Package: xball
Architecture: any
Section: games
Depends: ${shlibs:Depends}, menu
Description: Simulate bouncing balls in a window
 A simple educational game that simulates bouncing balls
 in a window. Gravity, elasticity,
 and ability to collide can all be adjusted.
 .
 Young children enjoy watching the balls bounce around the
 screen and are fascinated by the program. This is an ideal
 program for teaching rudimentary mouse skills to very young
 children.
