#!/usr/bin/make -f

# Get xball version number from changelog
VERSION = $(shell head -1 debian/changelog | sed -e 's/.*(//' | sed -e 's/).*//')

CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	chmod +x configure
	chmod +x missing
	./configure \
	    --prefix=$(CURDIR)/debian/xball \
	    --exec-prefix=$(CURDIR)/debian/xball/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE) VERSION=$(VERSION)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -rf .deps

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install
	cd debian && mv xball/usr/bin xball/usr/games

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installmenu
	dh_installman xball.man
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
